<!DOCTYPE html>
<html lang="en">

{{> head}}

<body class="sb-nav-fixed">
    {{> staffHeader}}
    <div class="modal-dialog modal-lg" role="document" style="margin-top: 3%; margin-left: 15%">
        <div class="modal-content py-5" style="padding-left: 12%;">
            <div class="modal-header">
                <h2 class="modal-title">Add file </h2>
            </div>
            <div class="row">
                <div class="col-md-8 border-right">
                    <form class="form" method="post" action='/staff/doAddFile' id="add"
                        enctype="multipart/form-data">
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <input type="hidden" name="path"  value="{{path}}" />
                                </div>
                            </div>
                        </div>
                        <div class="col mb-3">
                            <div class="col form-group">
                                <label>Image</label>
                                <input type="file" name="picture" id="ideas" required multiple />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col d-flex justify-content-end">
                                <button class="btn btn-primary" type="submit">Save</button>
                                <a href="/" class="btn btn-warning">Cancel</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>