<html lang="en">
    {{!-- <embed src="{{link}}" type="application/pdf"></embed> --}}
    {{!-- <embed src="D:\web-enterprise\public\folder\motlan\idea2\1646991894703OpenPose.pdf" type="application/pdf"></embed> --}}
    <iframe src="D:\web-enterprise\public\folder\motlan\idea2\1646991894703OpenPose.pdf" width="100%" height="500px"></iframe>
</body>
</html>
    